{% load i18n %}
<div class="panel">
    <!--
    <div class="panel-heading">
        <span class="panel-title">Default tables</span>
    </div>
    -->
    <div class="panel-body">
        <ul class="breadcrumb breadcrumb-page">
            <li><a href="{% url 'disk:index' %}">Home</a></li>
            {% for dir in map %}
                {% if forloop.last %}
                    <li class="active"><a href="{% url 'disk:next' dir.path %}">{{dir.name}}</a></li>
                {% else %}
                    <li><a href="{% url 'disk:next' dir.path %}">{{dir.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>文件名</th>
                    <th>操作</th>
                    <th>日期</th>
                </tr>
            </thead>
            <tbody>
                {% for folder in folders %}
                <tr>
                    <td>{{folder.id}}</td>
                    <td><a href="{% url 'disk:next' folder.path %}">{{folder.name}}</a></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">Operation&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">下载</a></li>
                                <!--<li><a href="#">{% trans "Share" %}</a></li>-->
                                <li><a href="#" class="foldershare" data-toggle="modal" data-target="#shareFolder">分享</a></li>
                                <li><a href="{% url 'disk:deleteFolder' folder.id %}">删除</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{folder.ctime}}</td>
                </tr>
                {% endfor %}
                {% for file in files %}
                <tr>
                    <td>{{file.id}}</td>
                    <td><a href="#">{{file.name}}</a></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown">Operation&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'disk:download' file.id %}">下载</a></li>
                                <li><a href="" class="fileshare" data-toggle="modal" data-target="#shareFile">分享</a></li>
                                <li><a href="{% url 'disk:deleteFile' file.id %}">删除</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{file.ctime}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "layout/_share_folder.html" %}
        {% include "layout/_share_file.html" %}
    </div>
</div>