<div class="page-header">
    <div class="row"> 
    {% block content-header %}
            <div id="uidemo-modals-effects-template" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
                <div>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">创建组</h4>
                        </div>
                        <form action="" method='POST' class="panel form-horizontal">
                        <div class="modal-body">
                            <div class="panel-body">
                                <div class="row form-group">
                                    <label class="col-sm-4 control-label">组名:</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="groupName" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">创建组</button>
                        </div>
                    </form>
                    </div><!-- / .modal-content -->
                </div><!-- / .modal-dialog -->
            </div>
                <!-- / Template -->

                <!-- Javascript -->
                <script>
                    init.push(function() {
                        $('#uidemo-modals-effects-btn').on('click', function() {
                            var $modal  = $('#uidemo-modals-effects-template').clone(true);
                            $modal.find('> div').addClass('modal-dialog modal-sm animated ' + $('#uidemo-modals-effects-select').find(":selected").attr('value'));
                            $modal.modal('show');
                        })
                    });
                </script>
                <!-- / Javascript -->

                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">组管理</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <select id="uidemo-modals-effects-select" class="form-control">
                                    <option value="bounce">bounce</option>
                                    <option value="flash">flash</option>
                                    <option value="pulse">pulse</option>
                                    <option value="shake">shake</option>
                                    <option value="swing">swing</option>
                                    <option value="tada">tada</option>
                                    <option value="wobble">wobble</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button class="btn" id="uidemo-modals-effects-btn">创建组</button>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock %}
    </div>
</div>